<nz-card [nzBordered]="false">
  <form nz-form se-container="1" size="compact" [gutter]="32" [labelWidth]="null">
    <se label="{{ 'label.title' | i18n }}" line>
      <tag-select>
        <nz-tag
          *ngFor="let i of labels"
          nzMode="checkable"
          [nzChecked]="activeLabels.includes(i.id)"
          (nzCheckedChange)="changeCategory($event, i.id)"
        >
          {{ i.name }}
        </nz-tag>
      </tag-select>
    </se>
  </form>
</nz-card>
<nz-card [nzBordered]="false">
  <nz-list nzItemLayout="vertical" [nzLoading]="loading" [nzDataSource]="list" [nzRenderItem]="item" [nzLoadMore]="loadMore">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="nzContent" [nzExtra]="nzExtra" [nzActions]="[op1, op2, op3]">
        <ng-template #op1> <i nz-icon nzType="star" class="mr-sm"></i>{{ item.star }}</ng-template>
        <ng-template #op2> <i nz-icon nzType="like" class="mr-sm"></i>{{ item.like }}</ng-template>
        <ng-template #op3> <i nz-icon nzType="message" class="mr-sm"></i>{{ item.message }}</ng-template>
        <ng-template #nzExtra>
          <div style="width: 272px; height: 1px"></div>
        </ng-template>
        <nz-list-item-meta [nzTitle]="nzTitle" [nzDescription]="nzDescription">
          <ng-template #nzTitle>
            <a href="{{ item.href }}" target="_blank">{{ item.title }}</a>
          </ng-template>
          <!-- 标签 -->
          <ng-template #nzDescription>
            <nz-tag *ngFor="let label of item.labels">{{ label.name }}</nz-tag>
          </ng-template>
        </nz-list-item-meta>
        <ng-template #nzContent>
          <p [innerHTML]="item.content"></p>
          <div class="mt-md d-flex">
            <nz-avatar [nzSrc]="item.avatar" [nzSize]="'small'" class="mr-sm"></nz-avatar>
            <!-- <a href="{{ item.href }}" target="_blank">{{ item.author.displayName }}</a> -->
            <span>{{ item.author.displayName }}</span>
            <span class="px-sm">{{ 'blog.attr.updateTime' | i18n }}</span>
            <time class="text-grey" title="{{ item.updateTime }}">{{ item.updateTime | _date }}</time>
          </div>
        </ng-template>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="text-center mt-md" *ngIf="pageInfo && pageInfo.next">
        <button nz-button (click)="getData()" [nzType]="'dashed'" style="min-width: 200px">加载更多</button>
      </div>
    </ng-template>
  </nz-list>
</nz-card>
