<layout-default [options]="options" [content]="contentTpl" [customError]="null">
  <!-- 导航栏中间菜单 -->
  <layout-default-header-item direction="left">
    <div>
      <!-- 博客 -->
      <a href="#/blog/list">{{ 'menu.article' | i18n }}</a>
    </div>
  </layout-default-header-item>
  <!-- 导航栏右侧按钮 -->
  <layout-default-header-item direction="right" hidden="mobile">
    <div layout-default-header-item-trigger nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click" nzPlacement="bottomRight">
      <i nz-icon nzType="setting"></i>
    </div>
    <!-- 设置按钮 -->
    <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
      <div nz-menu style="width: 200px">
        <div nz-menu-item>
          <header-fullscreen></header-fullscreen>
        </div>
        <div nz-menu-item>
          <header-clear-storage></header-clear-storage>
        </div>
        <div nz-menu-item>
          <header-i18n></header-i18n>
        </div>
      </div>
    </nz-dropdown-menu>
  </layout-default-header-item>
  <layout-default-header-item direction="right">
    <!-- 登录/用户按钮 -->
    <header-user></header-user>
  </layout-default-header-item>
  <ng-template #contentTpl>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <div class="copyright">
      <a href="https://beian.miit.gov.cn" target="_blank" class="text-grey">浙ICP备2023009925</a>
    </div>
  </ng-template>
</layout-default>

<setting-drawer *ngIf="showSettingDrawer"></setting-drawer>
<theme-btn></theme-btn>
