a {
    color: white;
}

.content {
    position: relative;
    width: 1000px;
    margin: 0 auto 50px;
    overflow-x: hidden;
    box-shadow: 0 1px 3px hsla(0deg, 0%,7%, 10%);
}

.copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
